:root {
  --bg: #ebede9;
  --text: #232323;
  --primary: #164000;
  --secondary: #522915;
  --highlight: #f9a602;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

header, main, footer {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 32px 0 0 0;
  border-bottom: 1px solid var(--primary);
}

header > hgroup {
  display: flex;
}

header h1 {
  color: var(--primary);
  margin: 0;
  padding: 0 24px 0 0;
  font-size: 32px;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
}

header h2 {
  display: inline-block;
  margin: 0;
  padding: 13px 0 0 0;
  font-size: 18px;
  font-weight: normal;
}

header ul {
  padding: 0;
  display: flex;
}

header li {
  padding: 0 16px 0 0;
  list-style: none;
  font-size: 14px;
}

header li a {
  text-decoration: none;
  color: var(--secondary);
}

header li.selected a {
  text-decoration: none;
  color: black;
}

main {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 32px;
  margin-bottom: 12px;
  line-height: 1.33;
  color: var(--text)
}

main h1 {
  font-size: 2.5em;
  font-weight: normal;
}

main h2 {
  font-size: 1.5em;
  font-weight: normal;
}

main a {
  text-decoration: none;
  color: var(--secondary);
}

footer {
  font-size: 12px;
  color: var(--text);
  margin-bottom: 64px;
}

footer a {
  color: var(--secondary);
  text-decoration: none; 
}

thead {
  border-bottom: 1px solid rgb(231,231,231);
}

th {
  text-align: left;
}
