<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="{{ site.url }}/styles.css">
</head>
<body>
  <header>
    <hgroup>
      <h1>The Corduroy Suit</h1>
      <h2>a Silver Jews archive</h2>
    </hgroup>
    <nav>
      <ul>
        {% for n in site.nav %}
          <li class="{% if page.category == n %}selected{% endif %}">
            <a href="{{ site.url }}/{{ n }}">{{ n }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
