---
layout: base.njk
---
<section class="index">
  <header class="article-header">
    <h1>{{ title }}</h1>
  </header>

  <div class="prose">{{ content | safe }}</div>

  <ul class="listing-list">
    {% for p in collections[category] %}
      <li><a href="{{ p.url }}">{{ p.data.title }}</a></li>
    {% endfor %}
  </ul>
</section>
